.cal{
     border: 2px solid black;
     margin-top: 0px;
     padding-bottom: 20px;
     padding-top: 30px;
     width: 395px;
     height: 630px;
     margin-bottom: 40px;
     background-color: #00264d;
     border-radius: 20px;
     z-index: -1;

}
.numb{
     margin-top: 20px;
     width: 70px;
     height: 60px;
     margin-right: 20px;
     
}
.numb4{
     margin-top: 10px;
     width: 70px;
     height: 60px;
     margin-right: 20px;
     
}
.text{
     height: 60px;  
     

}
.lft{
     margin-left: 25px;
}
